body {
    background-color: #f9f9f9;
    font-family: 'Helvetica', sans-serif;
}

#invoice-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.error {
    color: #b00020;
}

.total {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
